.commandsTable {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}

th,
td {
  border: 1px solid black;
  white-space: normal;
  padding: 10px;
}

.command {
  min-width: 500px;
}

.commandExample {
  min-width: 350px;
}

.param {
  font-size: medium;
  border-radius: 6px;
  background-color: lightgray;
  color: black;
  padding: 5px;
}
