.container {
  max-height: 100%;
  overflow-y: auto;
}

.commandsTable {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
  overflow: scroll;
}

th,
td {
  border: 1px solid black;
  white-space: normal;
  padding: 10px;
  line-height: 2;
}

.param {
  font-size: medium;
  border-radius: 6px;
  background-color: lightgray;
  color: black;
  padding: 5px;
}
