body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

label {
  font-weight: bold;
}

.rootContainer {
  background-color: pink;
  height: 100vh;
  padding: 10px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  background-color: pink; /* Set your desired background color */
}

::-webkit-scrollbar-thumb {
  background-color: darkgray; /* Set your desired background color */
  border-radius: 5px;
}
