.settingsContainer {
  margin-top: 7px;
  margin-left: -70px;
  z-index: 2;
}

.dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 5px;
  padding: 10px;
  width: 300px;
  margin-top: 7px;
  margin-left: -240px;
  background-color: #fff;
  -moz-box-shadow: 2px 1px 8px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 1px 8px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 1px 8px 3px rgba(0, 0, 0, 0.75);
}

.combo {
  margin-left: 5px;
  min-width: 80px;
}

.checkbox {
  margin-left: 5px;
}
